<% if @name %>
<h1 style='color: green'>My name is <%= @name %> </h1>
<% end %>
<div>
<img style='border: red dotted' src='http://bit.ly/1eze8aE'>
</div>


<form action="/named-cat" method="post">
<input type="text" name="name" >
<input type="submit" value="Submit">
</form>
